<div>
  <h2>Your exciting details</h2>
  <h4>Name</h4>
  <h3>
    <%= @name %>
  </h3>
  <h4>Favorite Sport</h4>
  <h3>
    <%= @sport %>
  </h3>
  <h4>Favorite Food</h4>
  <h3>
    <%= @food %>
  </h3>
</div>
